@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300&family=Poppins:ital,wght@0,500;0,600;0,700;1,500&family=Roboto+Mono:ital,wght@0,200;0,500;0,600;0,700;1,100;1,500;1,600&family=Urbanist:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

.navbar-brand{
    font-family: 'Archivo Black', sans-serif;
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --bs-secondary-colors: #29a9fd;
    --bs-supporting-color: #C850C0;

}

h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
    color: var(--bs-dark-color);
}

h1{
    font-size: 3.8rem;
}

h2{
    line-height: 4rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p{
    margin:0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}
li{
    list-style: none;
}

.common-heading{
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem!important;
}

.common-title{
    margin-bottom: 4.2rem;
}

.common-section{
    padding: 0 0 9rem 0;
}
/* NAVBAR SECTION */

.nav-link{
    color: var(--bs-primary-color)!important;
}
.nav-link:hover{
    color: var(--secondary-color)!important;
}

/* HERO SECTION HERE */
.hero-section .container{
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main{
    height: 80vh;
    position: relative;
}

.hero-picture--section{
    max-width: 100%;
    height: auto;
    width: 20rem;
    border-radius: 2rem;
}

.bg-color{
    background-color: var(--bs-dark-color);
}

.text-light-grey{
    color: var(--bs-primary-color);
}

button, a{
    font-size: 1.15rem!important;
    letter-spacing: 0.03rem;
    word-spacing: 0.1rem;
}

/* WAVY EFFECT */

.custom-shape-divider-bottom-1688290933 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1688290933 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 147px;
}

.custom-shape-divider-bottom-1688290933 .shape-fill {
    fill: #FFFFFF;
}

/* SERVICES SECTION */

.services-section{
    padding: 6rem 0 3rem 0!important;
}

.icon-span{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--bs-secondary-colors);
    color: var(--bs-main-color);
}

.anchor-arrow{
    text-decoration: none;
}

.card-box:hover{
    box-shadow: rgba(149,157,165,0.2) 0 8px 24px;
    /* transition-delay: 1ms; */
}

.video-phone{
    max-width: 100%;
    height: auto;
    width: 60rem;
    border-radius: 2rem;
}


/* more-info-section */

.more-info-section{

    background-image: linear-gradient(rgba(22,22,22,0.9), rgba(22,22,22,0.9)), url("https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6rem 0;
    overflow: hidden;
}

.more-info-section .vid-section{
    position: relative;
}
.more-info-section .vid-section video{
    width: 70%;
}

/* FEATURE PAGE */
.business-section{
    padding-top: 3rem;
}
/* CAROUSEL and CARD */

.carousel .card{
    background-color: #262631;
    color: var(--bs-main-color);
    transition: all 0.3s linear;
}

.carousel-inner .card p{
    color: var(--bs-main-color);
}

.carousel-inner .card:hover{
    background-color: var(--bs-main-color);
    color: var(--bs-dark-primary);
}

.carousel-inner .card:hover p{
    color: var(--bs-dark-primary);
}
