@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300&family=Poppins:ital,wght@0,500;0,600;0,700;1,500&family=Roboto+Mono:ital,wght@0,200;0,500;0,600;0,700;1,100;1,500;1,600&family=Urbanist:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

.navbar-brand{
    font-family: 'Archivo Black', sans-serif;
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;

}

h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
    color: var(--bs-dark-color);
}

h1{
    font-size: 3.8rem;
}

h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p{
    margin:0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}
li{
    list-style: none;
}

/* NAVBAR SECTION */

.nav-link{
    color: var(--bs-primary-color)!important;
}
.nav-link:hover{
    color: var(--secondary-color)!important;
}

/* HERO SECTION HERE */
.hero-section .container{
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main{
    height: 80vh;
    position: relative;
}

.hero-picture--section{
    max-width: 100%;
    height: auto;
    width: 20rem;
    border-radius: 2rem;
}

.bg-color{
    background-color: var(--bs-dark-color);
}

.text-light-grey{
    color: var(--bs-primary-color);
}

